* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to bottom, #009988 20%, #DADBD3 80%);
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  min-width: 1000px;
  height: calc(100% - 40px);
  display: flex;
  justify-content: center;
}

.left {
  width: 40%;
  background-color: #FFFFFF;
  overflow: auto;
}

.right {
  width: 80%;
  overflow: auto;
}

.right img {
  width: 100%;
  height: calc(100% - 100px);
}

.left .top-bar,
.right .top-bar {
  height: 50px;
  background-color: #EAEAEA;
}

.main-container .right {
  display: flex;
  flex-direction: column;
}


.right .bottom-bar{
  background-color: #F4EEEA;
  height: 50px;
}


