* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #D7DBD6;
  height: 100vh;
}

.top-back {
  background-color: #009988;
  height: 25%;
}