* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to top, #DADBD2 85%, #009988 60%);
  height: 100vh;
}

/* general */

i {
  color: #B1B1B1;
}

i.blue {
  color: #74DCFF;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}

i.dark {
  color: #646464;
}


/* special classes */

.selected {
  background-color: #E9EBEB;
}

 .user-color {
  background-color: #CCFAB3;
 }

 .speaker-color {
  background-color: #f9f9f9;
 }
 



 /* container */

#app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* main */

.main-container {
  width: 80%;
  min-width: 700px;
  height: calc(100% - 40px);
  display: flex;
  justify-content: center;
}


.main-container img.avatar {
  width: 40px;
  border-radius: 50%;
}

.main-container span.name {
 font-size: 0.8rem;
}

.main-container span.login {
  font-size: 0.6rem;
  color: #B1B1B1;
}


.main-container span.hours {
  font-size: 0.6rem;
  color: #B1B1B1;
}



/* main bars */

.left .top-bar,
.right .top-bar {
  height: 50px;
  background-color: #EAEAEA;
}

.left .top-bar,
.right .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.left .top-bar img.avatar,
.right .top-bar img.avatar {
  margin-left: 10px;
}

.right .top-bar img.avatar {
  margin-right: 10px;
}

.left .top-bar .lft-items {
  display: flex;
  align-items: center;
}

.right .top-bar .lft-items {
  display: flex;
  align-items: center;
}

.right .top-bar .lft-items .users  {
 display: flex;
 flex-direction: column;
}

.right .top-bar .rgt-items,
.left .top-bar .rgt-items {
  width: 100px;
  display: flex;
  justify-content: space-evenly;
}



/* left / contact lists */

.main-container .left {
  width: 40%;
  background-color: hsl(0, 0%, 100%);
  overflow: auto;
}

.bottom .notifications {
  background-color: #74DCFF;
  height: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bottom .notifications .new {
  display: flex;
  flex-direction: column;
}

.bottom .notifications i {
  margin-left: 20px;
}

.bottom .notifications span {
  margin-left: 10px;
}

.find {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  background-color: #EAEAEA;
}
 
.find input {
  width: 98%;
  height: 75%;
  border: none;
}

.find input::placeholder {
  font-size: 0.7rem;
}


/* contacts */

.bottom .list-contacts .contact {
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  cursor: pointer;
}

.bottom .list-contacts .contact .lft {
  display: flex;
  align-items: center;
}

.bottom .list-contacts .contact .lft .name-login {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.bottom .list-contacts .contact .lft img {
  margin-left: 10px;
}

.bottom .list-contacts .contact .rgt span {
  margin-right: 10px;
}



/* right */

.main-container .right {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-left: 1px solid rgb(207, 207, 207);
}

.main-container .right .chat {
  height: calc(100% - 100px);
  width: 100%;
  background-image: url('../img/mine.jpg');
  background-size: cover;
  display: flex;
  justify-content: space-around;
}

.right .chat .user-color, 
.right .chat .speaker-color {
  padding: 15px 20px;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px;
}

.right .chat .user-color p, 
.right .chat .speaker-color p {
  font-size: 0.8rem;
}

.right .chat .lft,
.right .chat .rgt {
  width: 40%;
}



.right .chat .user-color span, .speaker-color span {
   font-size: 0.6rem;
   color: #B1B1B1;
}

.right .bottom-bar{
  background-color: #F4EEEA;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right .bottom-bar input {
  width: 75%;
  height: 30px;
  border-radius: 4px;
  border: none;
}

